/*@font-face {
    font-family: 'Intro';
    src: url('intro-regular-webfont.woff2') format('woff2'),
         url('intro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro';
    src: url('intro-black-webfont.woff2') format('woff2'),
         url('intro-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}*/
@font-face {
    font-family: lato;
    src: url(fonts/Intro/Lato-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
}

.contendor{
    color: black;
    max-width: 1000px;
    margin: 0, auto;
    min-height: 100vh;
    display: grid;
}

/***** LOGO Y MENU *****/

header{
    width: 45%;
    height: 80px;
    background: red;
    padding-top: 24px;
    padding-left: 30px;
    display: inline-block;
    box-sizing: border-box;
    float: left;
}
nav{
    width: 55%;
    height: 80px;
    backgro und: blue; 
    padding-top: 24px;
    display: inline-block;
    box-sizing: border-box; /*Se mide el elemento por el alto y ancho sin importa que tenga padding*/
    float: right;
}
nav ul li{
    display: inline; /*El menu se pone en linea*/
}
nav ul li a{
    color: #444;
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
    font-family: lato;
}
nav ul li a:hover{
    color: #111;
}

/***** IMAGEN PRINCIPAL Y FORMULARIO *****/

.imagenprincipal{
    width: 50%;
    height: 600px;
    background: gray; 
    padding-left: 40px;
    box-sizing: border-box;
    float: left;
    display: block;
}
.formulario{
    width: 50%;
    height: 600px;
    background: green; 
    box-sizing: border-box;
    float: right;
    display: block;
}
.comofunciona{
    width: 100%;
    background: yellow; 
    display: block;
}
section .comofunciona ul li{
    
}

/***** MEDIA QUERY *****/

@media only screen and (max-width: 900px) {
    header div.logo-menu, header div.logo-menu ul, header div.logo-menu li{
        display: flex;
    }
    header div.logo-menu nav{
        width: 100%;
        display: flex;
    }
}

@media only screen and (max-width: 700px) {
    header div.logo-menu, header div.logo-menu ul, header div.logo-menu li{
        display: none}

    header div.logo-menu div.logo p{
        margin: 0;
    }
    header div.logo-menu div.logo p a{
        margin: 0;
    }
    header div.logo-menu{
        display: flex;
        place-content: space-between;
    }