/*@font-face {
    font-family: 'Intro';
    src: url('intro-regular-webfont.woff2') format('woff2'),
         url('intro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro';
    src: url('intro-black-webfont.woff2') format('woff2'),
         url('intro-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}*/
@font-face {
    font-family: lato;
    src: url(fonts/Intro/Lato-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f5f5eb;
    height: 100%;
}

/***** LOGO Y MENU *****/

header{
    width: 45%;
    height: 80px;
    background: white;
    padding-top: 24px;
    padding-left: 30px;
    display: inline-block;
    box-sizing: border-box;
    float: left;
}
header h3{
    color: gray;
}
nav{
    width: 55%;
    height: 80px;
    background: white; 
    padding-top: 24px;
    display: inline-block;
    box-sizing: border-box; /*Se mide el elemento por el alto y ancho sin importa que tenga padding*/
    float: right;
}
nav ul li{
    display: inline; /*El menu se pone en linea*/
}
nav ul li a{
    color: #444;
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
    font-family: lato;
}
nav ul li a:hover{
    color: #111;
}


/***** IMAGEN PRINCIPAL Y FORMULARIO *****/

#uno{
    width: 50%;
    height: 400px;
    background: gray; 
    padding-left: 40px;
    box-sizing: border-box;
    float: left;
    display: block;
}
aside{
    width: 50%;
    height: 400px;
    background-image: linear-gradient(#d4e678, #77cb57);
    box-sizing: border-box;
    float: right;
    display: block;
}
aside .formulario h2{
    color: white;
    margin-right: 200px;
}
aside .formulario{
    text-align: center;
    padding-top: 40px;
}
.primeros-input{
    width: 400px;
    height: 35px;
    margin-left: 50px;
    border-radius: 5px 5px 5px 5px;
    background-color: white;
    color: gray;
    font-style: normal;
}
button{
    width: 120px;
    height: 40px;
    background-color: #f97344;
    border-radius: 5px 5px 5px 5px;
    color: white;
    font-weight: bold;
    margin-right: 240px;
    margin-top: 20px;
}

/**** SECCION DOS *******/

#dos{
    width: 100%;
    height: 300px;
    background: white; 
    padding-left: 40px;
    box-sizing: border-box;
    float: left;
    display: inline-block;
}
#dos h2{
    text-align: center;
    padding-top: 20px;
    color: #fc703e;
}
.iconos p{
    color: gray;
    text-align: center;
}
#dos ul li{
    display: inline; /*El menu se pone en linea*/
}
.como-trabajamos {
    display: flex;
    justify-content: flex-start;
}
.iconos img{
    width: 100px;
    padding-left: 20px;
    padding-top: 40px;
}

/**** SECCION TRES *******/

#tres>fila1{
    width: 100%;
    height: 600px;
    background: #f5f5eb;
    box-sizing: border-box;
    display: flex;
}
.fila1{
    width: 100%;
    height: 300px;
}
.fila2{
    width: 100%;
    height: 300px;
}
.tres-card{
    
    float: left;
    height: 280px;
    width: 25%;
    background: white;
}

/**** SECCION CUATRO *******/

#cuatro{
        width: 100%;
        height: 300px;
        background-image: linear-gradient(#f86c3a, #ee3b51);
        box-sizing: border-box;
        float: left;
        display: inline-block;
}

#cuatro ul li{
    display: inline; /*El menu se pone en linea*/
}
.cuartaparte {
    display: flex;
    justify-content: flex-start;
}
.iconos2 img{
    width: 100px;
    margin-top: 50px;
    margin-left: 50px;
    padding-left: 20px;
    padding-top: 20px;
    background-color: white;
    border-radius: 100px;
}
#cuatro>h3>p{
    color: white;
    margin-left: 50px;
    margin-top: 25px;
}

/**** SECCION CINCO *******/

#cinco{
    width: 100%;
    height: 600px;
    background: #f5f5eb;
    box-sizing: border-box;
    float: left;
    display: block;
}
.cinco-card{
    
    float: left;
    height: 280px;
    width: 25%;
    background: white;
}

/**** SECCION SEIS *******/

#seis{
    width: 100%;
    height: 300px;
    background: #f5f5eb;
    box-sizing: border-box;
    float: left;
    display: block;
}

/**** SECCION SIETE *******/

#siete{
    width: 100%;
    height: 300px;
    background: #f5f5eb;
    margin-top: 50px;
    box-sizing: border-box;
    float: left;
    display: block;
}
.siete-card{
    
    float: left;
    height: 280px;
    width: 25%;
    background: white;
}

/**** SECCION OCHO *******/

#ocho{
    width: 100%;
    height: 300px;
    background: white;
    margin-top: 50px;
    padding-left: 40px;
    box-sizing: border-box;
    float: left;
    display: block;
}
.ocho-fila6{
    margin-top: 50px;
}
.ocho-card{
    
    float: left;
    height: 280px;
    width: 25%;
    background: white;
    padding-top: 50px;
} 

/**** SECCION NUEVE *******/

#nueve{
    width: 100%;
    height: 20px;
    background: #f5f5eb;
    margin-top: 50px;
    padding-left: 40px;
    box-sizing: border-box;
    float: left;
    display: block;
}

/**** RESTO GENERAL *****/

h2{
    margin-top: 40px;
    text-align: center;
    color: #fc703e;
    font-weight: bold;
}
input{
    width: 100px;
    height: 30px;
    background-color: green;
    color: white;
    border-radius: 5px 5px 5px 5px;
    font-weight: bold;
    font-style: italic;

}
p{
    color: gray;
}
h4{
    margin-top: 20px;
    color: white;
    text-align: center;
}
h6{
    color: white;
    margin-top: 20px;
    text-align: center;
}

/***** MEDIA QUERY *****/

@media only screen and (max-width: 900px) {
    header div.logo-menu, header div.logo-menu ul, header div.logo-menu li{
        display: flex;
    }
    header div.logo-menu nav{
        width: 100%;
        display: flex;
    }
}

@media only screen and (max-width: 700px) {
    header div.logo-menu, header div.logo-menu ul, header div.logo-menu li{
        display: none}

    header div.logo-menu div.logo p{
        margin: 0;
    }
    header div.logo-menu div.logo p a{
        margin: 0;
    }
    header div.logo-menu{
        display: flex;
        place-content: space-between;
    }